<div class="form-input" *ngIf="!todo.status">
  <div>Todo id: {{todo.id}}</div>
  <div>Todo title - {{todo.title}}</div>
  <div>Todo body - {{todo.body}}</div>
  <div>Todo type - {{todo.type}}</div>
  <div>
    <button (click)="toggleDone()">
      Set done
    </button></div>
</div>

<div class="done-todo form-input" *ngIf="todo.status">
  <div>Todo id: {{todo.id}}</div>
  <div>Todo title - {{todo.title}}</div>
  <div>Todo body - {{todo.body}}</div>
  <div>Todo type - {{todo.type}}</div>
  <div>
    <button (click)="toggleDone()">
      Set undone
    </button></div>
</div>
