<!--&lt;!&ndash;<app-todo *ngFor="let todo of todos"></app-todo>&ndash;&gt;-->

<form [formGroup]="form">
  <div class="form-input">
    <label>id: </label>
    <div>
      <input formControlName="id" disabled="disabled" placeholder="{{todoArray.length}}">
    </div>
  </div>
  <div class="form-input">
    <label>title: </label>
    <div>
      <input formControlName="title">
    </div>
  </div>
  <div class="form-input">
    <label>body: </label>
    <div>
      <textarea formControlName="body" cols="20" rows="10"></textarea>
    </div>
  </div>
  <div class="form-input">
    <label>type: </label>
    <select formControlName="type">
      <option value="today">today</option>
      <option value="tomorrow">tomorrow</option>
      <option value="after tomorrow">after tomorrow</option>
      <option value="next week">next week</option>
      <option value="next month">next month</option>
    </select>
  </div>
  <button (click)="addTodo()" [disabled]="form.invalid">Add todo</button>
</form>

<p *ngIf="todoArray.length">Todos List:</p>
<app-todo
  *ngFor="let singleTodo of todoArray"
  [todo]="singleTodo">
</app-todo>

