<p>click user below</p>
<div *ngFor="let user of users | filter: 'name': 'Vasyl': '='" appRandomBack>
  {{user | json}}
</div>

<!--&lt;!&ndash;ngStyle&ndash;&gt;-->
<!--<button (click)="toggleClass()" [ngStyle]="{backgroundColor: 'red'}">toggle class</button>-->

<!--&lt;!&ndash;ngClass + class.       attribute directive&ndash;&gt;-->
<!--<div [ngClass]="{target: classStatus}" [class.point]="true">-->
<!--  {{'hello' | size: 'upper'}}-->
<!--</div>-->

<!--&lt;!&ndash;ngIf    structural directive&ndash;&gt;-->
<!--<div *ngIf="classStatus">-->
<!--  {{3.14654687 | number: '3.1-5'}}-->
<!--  <br>-->
<!--  {{0.25 | percent}}-->
<!--  <br>-->
<!--  {{'lorem' | uppercase}}-->
<!--  <br>-->
<!--  {{'IPSUM' | lowercase}}-->
<!--  <br>-->
<!--  {{'lorem ipsum' | titlecase}}-->
<!--  <br>-->
<!--  {{'Lorem' | uppercase | lowercase}}-->
<!--  <br>-->
<!--  {{100 | currency: 'GBP'}}-->
<!--</div>-->

<!--<div appRed>-->
<!--  {{myDate | date: 'short'}}-->
<!--</div>-->

<!--<div *ngFor="let user of users">-->
<!--  {{user | json}}-->
<!--</div>-->

<!--<div *ngFor="let item of {name: 'Vasyl', age: 31} | keyvalue">-->
<!--  {{item.key}} {{item.value}}-->
<!--</div>-->


